img {
	max-height: 100%;
	max-width: 100%;
	
}

.card {
	width: 40px;
	height: 40px;
	position: relative;
	display: inline-block;
	border: none;
	margin-bottom: 7px;
}

.card .img-top {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.card:hover .img-top {
	display: inline;
}